<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<div class="container-fluid" style="position: absolute; top: 100px; left: auto;">
	<div class="row justify-content-center">
		<div class="col-md-6">

			<div _ngcontent-dxr-c47="" class="card shadow border-0 mb-7">
				<div _ngcontent-dxr-c47="" class="card-header">
					<h5 _ngcontent-dxr-c47="" class="mb-0">Usuários do sistema</h5>
				</div>
				<div _ngcontent-dxr-c47="" class="table-responsive">
					<table _ngcontent-dxr-c47="" class="table table-hover table-nowrap">
						<thead _ngcontent-dxr-c47="" class="thead-light">
							<tr _ngcontent-dxr-c47="">
								<th _ngcontent-dxr-c47="" scope="col">Id</th>
								<th _ngcontent-dxr-c47="" scope="col">Nome</th>
								<th _ngcontent-dxr-c47="" scope="col" class="d-none d-md-table-cell">Data de início</th>
								<th _ngcontent-dxr-c47="" scope="col">Opções</th>
								<th _ngcontent-dxr-c47=""></th>
							</tr>
						</thead>
						<tbody _ngcontent-dxr-c47="">
							<tr _ngcontent-dxr-c47="" *ngFor="let usuario of usuarios">
								<th scope="col">{{usuario.id}}</th>
								<td scope="col">{{usuario.nome}}</td>
								<td scope="col">{{usuario.email}}</td>
								<td scope="col">{{usuario.dataNascimento | date: 'dd/MM/yyy'}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>